DEBUG=""
SITE_NAME=""
SECRET_KEY=""
ADMIN_URL=""
EMAIL_PORT=""
EMAIL_HOST=""
DEFAULT_FROM_EMAIL=""
DOMAIN="""
POSTGRES_HOST=""
POSTGRES_PORT=""
POSTGRES_DB=""
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
BANK_NAME=""
CELERY_FLOWER_USER=""
CELERY_FLOWER_PASSWORD=""
CELERY_BROKER_URL=""
CELERY_RESULT_BACKEND=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_CLOUD_NAME=""
COOKIE_SECURE=""
SIGNING_KEY=""
BANK_CODE=""
BANK_BRANCH_CODE=""
CURRENCY_CODE_NGN=""
CURRENCY_CODE_USD=""
CURRENCY_CODE_GBP=""
BANK_CARD_PREFIX=""
BANK_CARD_CODE=""







# python3 -c "import secrets; print(secrets.token_urlsafe(38))" - allows us to run python code directly from the command line with -c meaning the command runs as a string. In this case, we are using the secrets module to generate a secure random token that can be used as a secret key for our Django application. The token_urlsafe function generates a URL-safe text string, and the argument 38 specifies the number of bytes to generate, which results in a string of approximately 50 characters. This is a good length for a secret key, providing enough randomness to ensure security.