{% extends 'emails/base.html' %}

{% load humanize %}

{% block title %}
    Deposit Confirmation
{% endblock %}


{% block content %}
<h2>Deposit Confirmation</h2>
<p>Dear<strong>{{user.full_name}},</strong></p>
<p>We're pleased to inform you that a deposit has been made to your bank acccount successfully</p>
<p>Here are the details of the transaction:</p>
<ul>
    <li><strong>Amount: {{currency}} {{amount|intcomma}}</strong></li>
    <li><strong>Account Number: {{account_number}}</strong></li>
    <li><strong>New Balance: {{currency}} {{new_balance|intcomma}}</strong></li>
</ul>

<p>If you did not authorise this transaction or have any further questions, please contact our customer support immediately.</p>
<p>Thank you for banking with <strong>{{site_name}}</strong></p>
<p>Best regards, <br><strong>{{site_name}} Team</strong></p>
{% endblock content %}